Repository ChasmNetwork/chasm-scout: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run prettier:fix, bun run lint

.lintstagedrc.json:

{
  "*.ts": [
    "bun run prettier:fix",
    "bun run lint"
  ],
  "*.md": [
    "bun run prettier:fix"
  ]
}

remove jest test in CI
  .github/workflows/pre-merge-checks.yml
  .husky/pre-commit
Due: none

Update pre-merge-checks.yml
  .github/workflows/pre-merge-checks.yml
Due: none

Update dockerhub
  docs/SETUP.md
  script/publish_docker_hub.sh
Due: bun run prettier:fix

default to wss if not provided
  src/config.ts
Due: bun run prettier:fix, bun run lint

Update to gemma2-9b-it
  script/test_groq_query.sh
Due: none

prepare 0.0.4 release
  package.json
Due: none

Add more log
  src/server/handshake.ts
Due: bun run prettier:fix, bun run lint

add dispute system (#1)
  .eslintignore
  .github/workflows/pre-merge-checks.yml
  .gitignore
  .prettierignore
  dispute/.env.sample
  dispute/.gitignore
  dispute/Dockerfile
  dispute/README.md
  dispute/__init__.py
  dispute/benchmark.py
  dispute/config.py
  dispute/docker-compose.yml
  dispute/main.py
  dispute/requirements.txt
  dispute/strategies/LLMQuality.py
  dispute/strategies/ResponseSimilarity.py
  dispute/strategies/SemanticSimilarity.py
  dispute/strategies/StaticTextAnalysis.py
  dispute/strategies/__init__.py
  dispute/strategies/tokenizer.model
  dispute/strategies/tokenizer.py
  dispute/strategy.py
  dispute/util/__init__.py
  dispute/util/chasm.py
  dispute/util/llm.py
  dispute/util/poll.py
  dispute/verify_ollama.py
  pyproject.toml
Due: bun run prettier:fix

version bump
  package.json
Due: none

Update README.md
  dispute/README.md
Due: bun run prettier:fix

[CHA-99] Scout Outlier Detection (#3)
  dispute/main.py
  dispute/strategies/LLMQuality.py
  dispute/strategies/ResponseSimilarity.py
  dispute/strategies/__init__.py
  dispute/strategy.py
  dispute/util/chasm.py
  dispute/util/fetch.py
  package.json
Due: none

Scout Recompute (#5)
  dispute/benchmark.py
  dispute/config.py
  dispute/main.py
  dispute/strategies/ResponseRecompute.py
  dispute/strategies/ResponseSimilarity.py
  dispute/strategies/__init__.py
  dispute/strategy.py
  dispute/util/chasm.py
  dispute/util/llm.py
  dispute/util/poll.py
Due: none

handshake retries
  src/server/express.ts
  src/server/handshake.ts
Due: bun run prettier:fix, bun run lint

bump version
  package.json
Due: none

Chromia integration (#8)
  dispute/.gitignore
  dispute/README.md
  dispute/main.py
  dispute/util/chromia.py
Due: bun run prettier:fix

add vllm support (#9)
  src/config.ts
  src/integration/OpenAIBase.ts
  src/integration/vllm.ts
  src/utils/llm.ts
  tests/integration/Groq.test.ts
  tests/unit/utils/LLM.test.ts
Due: bun run prettier:fix, bun run lint

update version
  package.json
Due: none
